{{#block "styles"}}
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
{{/block}}
{{#partial "content"}}

    <h1>All News</h1>
    <h2>To add a news:
        <a href="/new/news"> click here</a>
    </h2>
    <br>
    <br>
    <table class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Department</th>


        </tr>
        {{#each news}}
            <tr>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{departmentId}}</td>

            </tr>
        {{/each}}
    </table>

{{/partial}}

{{>layout.hbs}}